*{
    margin:0px;
    padding: 0px;
}
.container{
    height: 80vh;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background: brown;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.box:hover{
    /* transform: rotate(45deg); */
    /* transform: skew(40deg); */
    /* transform: scale(2); */
    /* transform: translateX(-123px); */
    /* transform: translateY(-123px); */
    transform: translate(123px,123px);
}